extends layout

block content
  div(ng-controller="indexController",ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
    .column.twelve.wide
      .ui.stacked.segment.gameArea(ng-click="onClickPlayer($event)")
        .circle(
        ng-repeat="players in player",
        ng-style="{'left':players.position.x+'px', 'top':players.position.y+'px'}",
        id="{{players.id}}",
        class="{{players.color}}")
          .relative
            span.name {{players.userName}}
            .message 
        
      .ui.items.chat#chat-area
        .item(ng-repeat='message in messages')
          .content(ng-if="!message.type.code")
            span [SERVER]
            a.header.name  {{message.username}} &nbsp;
            .description.message(ng-if="message.type.message")
              | kat覺ld覺
            .description.message(ng-if="!message.type.message")
              | ayr覺ld覺

          .content(ng-if="message.type.code")
            a.header.name  {{message.username}} &nbsp;
            .description.message
              | {{message.text}}
            
      form.ui.action.input.fluid(ng-submit="sendMessages()")
        input(ng-model='message',placeholder='Type here...')
        button.ui.button(type="submit") Send

